.container {
  background-color: #003061;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-top: -3vw;
  margin-right: -50vw;
  display: flex;
  justify-content: center;
}

.card {
  width: 420px;
  height: 230px;
  margin-bottom: 1vw;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}


.flex {
  display: flex;
}

.margin {
  margin: 0 8px;
}

.gray {
  color: gray;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

