.flex {
  display: flex;
}

.feedback-image {
  width: 50px;
  height: 50px;
}

.center {
  display: flex;
  justify-content: center;
}
.margin {
  margin-right: 20px;
}
.feedback-image {
  margin-left: 20px;
}

.small .grid {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.small .sudoku-table {
  border-collapse: collapse;
}

.small .sudoku-table td {
  width: 2em;
  height: 2em;
  text-align: center;
  border: 1px solid #ddd;
}

/* Add a black top border to cells in row 0 */
.small .sudoku-table tr:first-child td {
  border-top: 1px solid black;
}

/* Add a black bottom border to cells in row 3 */
.small .sudoku-table tr:last-child td {
  border-bottom: 1px solid black;
}

/* Add a black left border to cells in column 0 */
.small .sudoku-table tr td:first-child {
  border-left: 1px solid black;
}

/* Add a black right border to cells in column 1 */
.small .sudoku-table tr td:nth-child(2) {
  border-right: 1px solid black;
}

/* Add a black bottom border to cells in row 1 */
.small .sudoku-table tr:nth-child(2) td {
  border-bottom: 1px solid black;
}
/* Add a black right border to cells in column 3 */
.small .sudoku-table tr td:nth-child(4) {
    border-right:1px solid black
}


.big .grid {
  display: grid;
  grid-template-columns: 900px;
  grid-gap: 20px;
  margin-bottom: 20px;
}
.big .sudoku-table {
  border-collapse: collapse;
}

.big .sudoku-table td {
  width: 2em;
  height: 2em;
  text-align: center;
  border: 1px solid #ddd;
}

/* Add a black top border to cells in row 0 */
.big .sudoku-table tr:first-child td {
  border-top: 1px solid black;
}

/* Add a black bottom border to cells in row 8 */
.big .sudoku-table tr:last-child td {
  border-bottom: 1px solid black;
}

/* Add a black left border to cells in column 0 */
.big .sudoku-table tr td:first-child {
  border-left: 1px solid black;
}

/* Add a black right border to cells in column 2 */
.big .sudoku-table tr td:nth-child(3) {
    border-right:1px solid black
}

/* Add a black bottom border to cells in row 2 */
.big .sudoku-table tr:nth-child(3) td {
    border-bottom:1px solid black
}

/* Add a black right border to cells in column 5 */
.big .sudoku-table tr td:nth-child(6) {
    border-right:1px solid black
}

/* Add a black bottom border to cells in row 5 */
.big .sudoku-table tr:nth-child(6) td {
    border-bottom:1px solid black
}

/* Add a black right border to cells in column 8 */
.big .sudoku-table tr td:nth-child(9) {
    border-right:1px solid black
}
