.logo {
  display: block;
  margin: 0 auto;
}
.blue-container {
  background-color: #003061;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
}


.timer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.home-button {
  background-color: #008ad1;
  color: white;
  margin-bottom: 20px;
  margin-left: 20px;
}
