/* Submit.css */
body {
  color: rgba(14, 12, 12, 0.87);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.body--blue {
  background-color: #003061;
}


.check-button {
  color: white;
  background-color: #008AD1;
  margin-left: 20px;
}

#task-select {
  width: 200px;
}

#task-label {
  font-size: 16px;
}

form {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

img {
  height: auto;
  width: auto;
}

.ace_editor {
  margin-top: 5px;
  width: 900px !important;
  height: 530px !important;
}

.ace_chrome {
  background-color: #003061;
}

.editor-container {
  background-color: #003061;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: -50vw;
  display: flex;
  justify-content: center;
  height: 540px; 
}

.central-div {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  width: 60vw;
  margin-bottom: 5px;
}
