/* SubmitSent.css */
.body--blue {
  background-color: #003061;
}

:root {
  color: rgba(14, 12, 12, 0.87);
  background-color: #ffffff;
}

.image {
  width: 200px;
}

.content-container {
  background-color: white;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.back-button {
  background-color: #008ad1;
  color: white;
}
