#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.drive-image {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom: -20px;
}
